.navigation {
    margin: 3%;
    width: 94%;
    height: 5%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navRight {
    width: 50%; 
    display: inline-flex;
    justify-content: flex-end;
    gap: 5%;
}

.navLeft {
    display: inline-flex;
}

.spacer {
    width: 100vw;
    height: 15vh;
}